version: "2"
services:
  hub:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:
      - ./development/run.sh:/data/run.sh

      # The slightly modified file that hides non enabled idps      
      - ./development/selectidp-links.php:/data/vendor/simplesamlphp/simplesamlphp/templates/selectidp-links.php

      # Utilize custom certs 
      - ./development/hub/cert:/data/vendor/simplesamlphp/simplesamlphp/cert

      # Utilize custom configs
      - ./development/hub/config/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
#      - ./development/hub/config/config.php:/data/vendor/simplesamlphp/simplesamlphp/config/config.php

      # Utilize custom metadata
      - ./development/hub/metadata/idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/idp-remote.php
      - ./development/hub/metadata/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/hub/metadata/saml20-sp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-hosted.php
      - ./development/hub/metadata/sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/sp-remote.php

      # Override the initial SSOService.php file, to ensure this module is used
      - ./sspoverrides/www_saml2_idp/SSOService.php:/data/vendor/simplesamlphp/simplesamlphp/www/saml2/idp/SSOService.php

      # Utilize this module's files
      - ./lib:/data/vendor/simplesamlphp/simplesamlphp/modules/sildisco/lib
      - ./www:/data/vendor/simplesamlphp/simplesamlphp/modules/sildisco/www
      - ./tests:/data/vendor/simplesamlphp/simplesamlphp/modules/sildisco/tests

      # Configure the debugger
      - ./development/hub/run-debug.sh:/data/run-debug.sh

    command: /data/run-debug.sh 
    ports:
      - "80:80"
    env_file:
      - local.env
    environment:
      - ADMIN_EMAIL=john_doe@there.com
      - ADMIN_PASS=1234qwer
      - SECRET_SALT=h57fjemb&dn^nsJFGNjweJ
      - SECURE_COOKIE=false
      - ADMIN_PROTECT_INDEX_PAGE=false
      - SHOW_SAML_ERRORS=true
      - HUB_MODE=true
      - IDP_NAME=Hub
      - AWS_ACCESS_KEY_ID=anything
      - AWS_SECRET_ACCESS_KEY=anything
      - DYNAMO_ENDPOINT=http://dynamo:8000
      - DYNAMO_REGION=us-east-1
      - DYNAMO_LOG_TABLE=sildisco_local_user-log

  idp1:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:
      # Revert to standard SSOService.php instead of using sildisco's
      - ./development/idp-local/www_saml2_idp_SSOService.php:/data/vendor/simplesamlphp/simplesamlphp/www/saml2/idp/SSOService.php

      # Utilize custom certs
      - ./development/idp-local/cert:/data/vendor/simplesamlphp/simplesamlphp/cert

      # Utilize custom configs
      - ./development/idp-local/config/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/idp-local/config/config.php:/data/vendor/simplesamlphp/simplesamlphp/config/config.php

      # Utilize custom metadata
      - ./development/idp-local/metadata/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/idp-local/metadata/saml20-sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-remote.php
    command: /data/run.sh
    ports:
      - "8085:80"
    env_file:
      - local.env
    environment:
      - ADMIN_EMAIL=john_doe@there.com
      - ADMIN_PASS=a
      - SECRET_SALT=h57fjemb&dn^nsJFGNjweJ
      - SECURE_COOKIE=false
      - SHOW_SAML_ERRORS=true
      - IDP_NAME=IdP1

  idp2:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:
      # Revert to standard SSOService.php instead of using sildisco's
      - ./development/idp2-local/www_saml2_idp_SSOService.php:/data/vendor/simplesamlphp/simplesamlphp/www/saml2/idp/SSOService.php

      # Utilize custom certs
      - ./development/idp2-local/cert:/data/vendor/simplesamlphp/simplesamlphp/cert

      # Utilize custom configs
      - ./development/idp2-local/config/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/idp2-local/config/config.php:/data/vendor/simplesamlphp/simplesamlphp/config/config.php

      # Utilize custom metadata
      - ./development/idp2-local/metadata/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/idp2-local/metadata/saml20-sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-remote.php
    command: /data/run.sh
    ports:
      - "8086:80"
    env_file:
      - local.env
    environment:
      - ADMIN_EMAIL=john_doe@there.com
      - ADMIN_PASS=b
      - SECRET_SALT=h57fjemb&dn^nsJFGNjweJ
      - SECURE_COOKIE=false
      - SHOW_SAML_ERRORS=true
      - IDP_NAME=IdP2

  idp3:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:
      # Utilize custom certs
      - ./development/idp3-local/cert:/data/vendor/simplesamlphp/simplesamlphp/cert  

      # Utilize custom configs
      - ./development/idp3-local/config/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
      - ./development/idp3-local/config/config.php:/data/vendor/simplesamlphp/simplesamlphp/config/config.php

      # Utilize custom metadata
      - ./development/idp3-local/metadata/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/idp3-local/metadata/saml20-sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-remote.php
    command: /data/run.sh
    ports:
      - "8087:80"
    env_file:
      - local.env
    environment:
      ADMIN_EMAIL: "john_doe@there.com"
      ADMIN_PASS: "c"
      SECRET_SALT: "h57fjem34fh*nsJFGNjweJ"
      SECURE_COOKIE: "false"
      SHOW_SAML_ERRORS: "true"
      IDP_NAME: "IdP3"

  sp1:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:
      # Utilize custom certs
      - ./development/sp-local/cert:/data/vendor/simplesamlphp/simplesamlphp/cert

      # Utilize custom configs
      - ./development/sp-local/config/config.php:/data/vendor/simplesamlphp/simplesamlphp/config/config.php
      - ./development/sp-local/config/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php

      # Utilize custom metadata
      - ./development/sp-local/metadata/saml20-idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-remote.php
    ports:
      - "8081:80"
    env_file:
      - local.env
    environment:
      - ADMIN_EMAIL=john_doe@there.com
      - ADMIN_PASS=sp1
      - SECRET_SALT=h57fjemb&dn^nsJFGNjweJz1
      - SECURE_COOKIE=false
      - SHOW_SAML_ERRORS=true
      - SAML20_IDP_ENABLE=false
      - ADMIN_PROTECT_INDEX_PAGE=false


  sp2:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:
      # Utilize custom certs
      - ./development/sp2-local/cert:/data/vendor/simplesamlphp/simplesamlphp/cert

      # Utilize custom configs
      - ./development/sp2-local/config/config.php:/data/vendor/simplesamlphp/simplesamlphp/config/config.php
      - ./development/sp2-local/config/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php

      # Utilize custom metadata
      - ./development/sp2-local/metadata/saml20-idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-remote.php
    ports:
      - "8082:80"
    env_file:
      - local.env
    environment:
      - ADMIN_EMAIL=john_doe@there.com
      - ADMIN_PASS=sp2
      - SECRET_SALT=h57fjemb&dn^nsJFGNjweJz2
      - SECURE_COOKIE=false
      - SHOW_SAML_ERRORS=true
      - SAML20_IDP_ENABLE=false
      - ADMIN_PROTECT_INDEX_PAGE=false


  sp3:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:
      # Utilize custom certs
      - ./development/sp3-local/cert:/data/vendor/simplesamlphp/simplesamlphp/cert

      # Utilize custom configs
      - ./development/sp3-local/config/config.php:/data/vendor/simplesamlphp/simplesamlphp/config/config.php
      - ./development/sp3-local/config/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php

      # Utilize custom metadata
      - ./development/sp3-local/metadata/saml20-idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-remote.php
    ports:
      - "8083:80"
    env_file:
      - local.env
    environment:
      - ADMIN_EMAIL=john_doe@there.com
      - ADMIN_PASS=sp3
      - SECRET_SALT=h57fjemb&dn^nsJFGNjweJz3
      - SECURE_COOKIE=false
      - SHOW_SAML_ERRORS=true
      - SAML20_IDP_ENABLE=false
      - ADMIN_PROTECT_INDEX_PAGE=false
      
  hub4tests:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:

      - ./development/run.sh:/data/run.sh
      
      # The slightly modified file that hides non enabled idps
      - ./development/selectidp-links.php:/data/vendor/simplesamlphp/simplesamlphp/templates/selectidp-links.php

      # Utilize custom certs 
      - ./development/hub4tests/cert:/data/vendor/simplesamlphp/simplesamlphp/cert

      # Utilize custom configs
      - ./development/hub4tests/config/authsources.php:/data/vendor/simplesamlphp/simplesamlphp/config/authsources.php
#      - ./development/hub4tests/config/config.php:/data/vendor/simplesamlphp/simplesamlphp/config/config.php

      # Utilize custom metadata
      - ./development/hub4tests/metadata/idp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/idp-remote.php
      - ./development/hub4tests/metadata/saml20-idp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-idp-hosted.php
      - ./development/hub4tests/metadata/saml20-sp-hosted.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/saml20-sp-hosted.php
      - ./development/hub4tests/metadata/sp-remote.php:/data/vendor/simplesamlphp/simplesamlphp/metadata/sp-remote.php

      # Override the initial SSOService.php file, to ensure this module is used
      - ./sspoverrides/www_saml2_idp/SSOService.php:/data/vendor/simplesamlphp/simplesamlphp/www/saml2/idp/SSOService.php

      # Utilize this module's files
      - ./lib:/data/vendor/simplesamlphp/simplesamlphp/modules/sildisco/lib
      - ./www:/data/vendor/simplesamlphp/simplesamlphp/modules/sildisco/www
      - ./tests:/data/vendor/simplesamlphp/simplesamlphp/modules/sildisco/tests

      # Configure the debugger
      - ./development/hub4tests/run-debug.sh:/data/run-debug.sh
    command: /data/run-debug.sh 
    ports:
      - "8090:80"
    env_file:
      - local.env
    environment:
      - ADMIN_EMAIL=john_doe@there.com
      - ADMIN_PASS=1234qwer
      - SECRET_SALT=h57fjemb&dn^nsJFGNjweJ
      - SECURE_COOKIE=false
      - ADMIN_PROTECT_INDEX_PAGE=false
      - SHOW_SAML_ERRORS=true
      - HUB_MODE=true 
      - IDP_NAME=Hub


  browser_test:
    build: ./development/browser_test/
    volumes:
      - ./development/codeception.yml:/data/codeception.yml
      - ./development/codeception/tests:/data/tests
    depends_on:
      - phantomjs   
    ports:
      - "8091:80"  
    env_file:
      - local.env

  phantomjs:
    image: davert/phantomjs-env:latest
    ports:
      - "4444"
    entrypoint:
      - phantomjs
      - --webdriver=4444
      - --ignore-ssl-errors=true
      - --load-images=false   
      
  unit_test:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:

      - ./development/run-tests.sh:/data/run-tests.sh
      - ./development/run-debug.sh:/data/run-debug.sh

      # Utilize this module's files
      - ./lib:/data/vendor/simplesamlphp/simplesamlphp/modules/sildisco/lib
      - ./www:/data/vendor/simplesamlphp/simplesamlphp/modules/sildisco/www
      - ./dev-tests:/data/dev-tests

    command: /data/run-debug.sh 
    ports:
      - "8099:80"
    env_file:
      - local.env
    environment:
      - ADMIN_EMAIL=john_doe@there.com
      - ADMIN_PASS=1234qwer
      - SECRET_SALT=h57fjemb&dn^nsJFGNjweJ
      - SECURE_COOKIE=false
      - ADMIN_PROTECT_INDEX_PAGE=false
      - SHOW_SAML_ERRORS=true
      - HUB_MODE=true
      - IDP_NAME=Hub

  composer:
    image: silintl/ssp-base:feature_update-ssp-1-18-6
    volumes:
      - ./development/update-composer-deps.sh:/data/update-composer-deps.sh
      - ./composer.json:/data/composer.json
      - ./composer.lock:/data/composer.lock
      - ./vendor:/data/vendor
    env_file:
      - ./local.env
    working_dir: /data

  dynamo:
    image: cnadiminti/dynamodb-local
    command: "-sharedDb -inMemory"
    hostname: dynamo
    ports:
      - "8000:8000"
    environment:
      reschedule: on-node-failure

  init-dynamo:
    image: garland/aws-cli-docker
    command: "/init-dynamodb.sh"
    volumes:
      - ./development/init-dynamodb.sh:/init-dynamodb.sh
    depends_on:
      - dynamo
    environment:
      - AWS_ACCESS_KEY_ID=0
      - AWS_SECRET_ACCESS_KEY=0
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_DYNAMODB_ENDPOINT=http://dynamo:8000
