
# Needed as AWS credentials for an IAM user with DynamoDB permissions
DYNAMO_ACCESS_KEY_ID=ABC123
DYNAMO_SECRET_ACCESS_KEY=ABCD1234

# This may be needed for the development environment to avoid github rate limiting
COMPOSER_AUTH={"github-oauth":{"github.com":"token-here"}}


